@model STCRVM
@{
    ViewData["Title"] = "StudentCourseResult";
}

<h1>StudentCourseResult</h1>
<h2>Student Course Result</h2>

<p><strong>Student:</strong> @Model.StudentName</p>

<p><strong>Course:</strong> @Model.CourseName</p>

<p>
    <strong>Degree:</strong>
    <span style="color:@Model.StatusColor">
        @Model.Degree
    </span>
</p>

